* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: black;
}

/**** landing page-related CSS ****/

.landing-page {
  height: 100em;
  position: relative;
  background: white;
}

.landing-page .navbar {
  background: black;
}

.landing-page .navbar #navigation {
  color: black;
}

.landing-page .navbar {

}

/**** end of landing page-related CSS ****/

::-webkit-scrollbar {
    display: none;
}

/**** home-related CSS ****/

.home-container .section {
  height: 33em;
  padding-left: 8em;
  padding-right: 8em;
  padding-top: 2em;
}

.home-container #resume {
  background: lightgrey;
}

.home-container #about-me {
  background: lightgrey;
}

.home-container span {
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

/**** end of home-related CSS ****/

/**** resume-related CSS ****/

.resume-container {
  padding-right: 8em;
  padding-left: 8em;
  font-family: Arial, Helvetica, sans-serif;
}

.resume-container ul {
  list-style: none;
}

.resume-container h4 {
  background: lightgrey;
}

.resume-container span {
  display: inline-block;
}

.resume-container h6 {

}

.resume-container #name {
  text-align: center;

}

.resume-container #contact-info {
  text-align: center;
}

/**** end of resume-related CSS ****/

.welcome-page {

}

/**** eyeball-related CSS ****/

.eye-container {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.eye {
  width: 240px;
  height: 120px;
  background: white;
  border-radius: 50%;
  position: relative;
  transition: animation 2s, box-shadow 2s, width 2s, height 2s, opacity 2s;
}

.eye:hover {
  width: 240px;
  height: 120px;
  background: white;
  border-radius: 50%;
  position: relative;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  box-shadow: 0 0 100px white;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.pupil {
  width: 80px;
  height: 80px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  transition: background 2s, width 2s, height 2s, box-shadow 2s;
}

.pupil:hover {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  box-shadow: 0 0 8000px white;

  -webkit-animation: rainbow 3s ease infinite;
  -z-animation: rainbow 3s ease infinite;
  -o-animation: rainbow 3s ease infinite;
    animation: rainbow 3s ease infinite;
  }

  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }

  /* .eye .disabled {
    pointer-events: none;
  } */

  /**** end of eyeball-related CSS ****/
